@use "../variables" as *;
@use "sass:color";

.btn {
  border: transparent;
  background: $clr-green-600;
  color: $clr-neutral-100;
  padding-block: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.btn--dialog-close {
  background: color.adjust($clr-neutral-900, $lightness: 8%);
  color: $clr-neutral-100;
  border: transparent;
  border-radius: 8px;
  padding-block: 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  background: color.adjust($clr-green-600, $lightness: -10%);
}

.btn--dialog-close:hover {
  background: color.adjust($clr-neutral-900, $lightness: 15%);
}

.btn:focus {
  outline: 2px dotted $clr-green-600;
  outline-offset: 2px;
}
